<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dipali" verbose="1">
    <listeners>
        <listener class-name="com.orangehrm.customlisteners.CustomListeners"/>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
    <test name="orangehrmwk13">
        <classes>
            <class name="com.orangehrm.testsuite.LoginTest"></class>
            <class name="com.orangehrm.testsuite.UserTest"></class>

        </classes>
    </test>
</suite>